body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #464032;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #6600FF;
}

h1 {
    font-size: 2em;

}

#wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

#header {
    float: left;
    height: 40px;
    margin: 0;
    color: #000000;
    padding-bottom: 30px;
    padding-top: 15px;
}

#header h1, #header p {
    margin: 0;
    padding: 0;
}

#header h1 {
    float: left;
    padding-left: 20px;
    letter-spacing: -1px;
    font-size: 3.8em;
}

#header p {
    float: left;
    margin: 0;
    padding: 26px 0 0 10px;
    font: normal 14px Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: #5E4E38;
} 

#header p a {
    color: #5E4E38;
}

#header a {
    border: none;
    background: none;
    text-decoration: none;
    color: #6600FF;
}

#footer {
	border-top: 2px dashed;
}

#footer p {
	font-size: 0.8em;
}

#menu {
    width: 940px;
    height: 36px;
    margin: 0 auto;
    padding: 0;
    background: #6699FF;
}

#menu ul {
    margin: 0px 0px 0px 10px;
    padding: 0;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
}

#menu a {
    display: block;
    height: 26px;
    margin-bottom: 10px;
    padding: 10px 20px 0px 20px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
}

#menu a:hover, #menu .current_page_item a {
    background: #9966FF;
    text-decoration: none;
}

#menu .current_page_item a {
    background: #6666FF;
    color: #FFFFFF;
}

.post {
	margin: 20px;
	padding: 5px;
	border-top: 2px solid #6600CC;
	border-left: 2px solid #6600CC;
}

.production {
    min-height: 300px;
}

.show {
    min-height: 20px;
}

.highlighted {
	background-color: #e5e5ff;
}

.booking {
    width: 30px;
    border: 1px solid;
    text-align: center;
}

.available {
	border-color: green;
}

.booked {
	background-color: LightSlateGray ;
    
    color: DarkGrey;
    border-color: #993300;
}

.row-identifier {
    width: 15px;
}
